@import url(../css/navstyle.css);

.musicselect {
    margin-bottom: 20px;
}
.selectmusic {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}
.selectmusic option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}
.selectmusic:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
