<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../static/css/loginpagestyles.css" rel="stylesheet">
    <script src="../static/js/script1.js"></script>
    <script src="https://kit.fontawesome.com/84a4d5b7f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="left">
            <a href="{{ url_for('index') }}">Image Converter</a>
        </div>
        <div class="right">
            <div class="redirect"><a href="{{ url_for('login') }}">Login</a></div>
            <div class="redirect"><a href="{{ url_for('signup') }}">Sign Up</a></div>
            <div class="redirect"><a href="{{ url_for('upload') }}">Upload</a></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="form-wrapper signin">
            <form action="/login" method="POST">
                <h2>Login</h2>
                <div class="input-group">
                    <input type="text" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit">Login</button>
                <div class="signup-link">
                    <p>Don't have an account? <a href="{{ url_for('signup') }}" class="signup-link">Sign Up</a></p>
                </div>                
            <div class="message">
                <p>{{msg}}</p>
            </div>
            </form>
        </div>

    </div>
    <footer>
        <div>&copy; 2024 Copyright | segmentationFault</div>
        <div>
            <a href="../headpage/index.html">Go to Home <i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </footer>
</body>

</html>
