@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url(../navstyle.css);
* {
    box-sizing: border-box;
}

body{
    padding: 0;
    background-color: #4e4e4e;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    padding: 0;
    margin: 0;
}

.banner {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}

.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    padding-top: 15%;
    color: white;
    font-family: 'Poppins';
}

.banner #exclaim{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1%;
}

.banner .signupbutton {
    margin-top: 2%;
    background-color:#2d2d2d;
    padding: 1%;
    border-radius: 0.25em;  
    font-weight: 500;  
    font-size: 1.25em;
}

a{
    text-decoration: none;
    color: white;
}
